.hover:hover{
  cursor: pointer;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.text-align-center{
  text-align: center;
}
.text-align-left{
  text-align: left;
}
.bold {
  font-weight: bold;
}
.font-1p5em{
  font-size: 1.5em;
}
.fill-width {
  width: 100%;
}
.width-100 {
  width: 100px;
}
.fill-height {
  height: 100%;
}
.pos-rel {
  position: relative;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.vert-align {
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
}
.padding-hor-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.padding-vert-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-vert-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.no-margin-bottom {
  margin-bottom: 0px;
}
.margin-vert-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-vert-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-left-20 {
  margin-left: 20px;
}
.overflow-x-auto {
  overflow-x: auto;
}
.light-gray-background {
  background-color: #f2f2f2;
}

.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.help-img {
  width: 80%;
  margin: auto;
  display: block;
}

.request-complete {
  font-size: 38px;
  color: green;
  margin-left: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* FEEDBACK FORM */
.feedback-container {
  height: 400px;
  margin-bottom: 10px;
  margin-top: 15px;
  overflow-y: scroll;
}
.feedback-form {
  position: absolute;
  right: 0px;
  width: 275px;
  background-color: white;
  border: 1px solid black;
  z-index: 1;
}
.feedback-text {
  height: 150px;
  width: 95%;
}
.feedback-inputs {
  width: 85%;
  margin: auto;
  display: block;
}
.feedback-submit-btn {
  width: 50%;
  margin: auto;
  display: block;;
}
.text-input-single-line-container {
  height: 35px;
}

.status-change-close{
  position: absolute;
  right: 10px;
  top: 10px;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.timeline-button-container {
  width: 135px;
  margin-left: auto;
  margin-right: auto;
}

.step {
  width: 300px;
  height: 175px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: top;
}
.sample-count-layers-text-override {
  font-size: 12px;
  top: 80% !important;
}
.project-summary-text-override {
    font-size: 10px;
    top: 80% !important;
}
.sample-info {
  position: absolute;
  left: 0px;
  top: 0px;
  padding-top: 20px;
  padding-left: 20px;
}
.completed-step {
  background-color: #f2f2f2;
}
.project-selector-icon{
  font-size: 3.5em;
  display: inline-block;
  margin-right: 20px;
}
.small-icon{
  font-size: 2.5em;
  display: inline-block;
}
.large-icon{
  font-size: 3.5em;
  display: inline-block;
}
.border {
  border: 1px solid #dee2e6;
}
.sample-tree-container {
  margin-top: 20px;
  border: 1px solid #dee2e6;
}
.parent-sample-level-stages{
  min-height: 250px;
}
.sample-viewer-toggle {
  vertical-align: bottom;
  font-size: 22px;
}
.fade-color {
  opacity: 0.5;
}
/* TODO: MSKCC colors */
.black-color {
  color: black;
}
.red-color {
  color: #ff9999;
}
.blue-color {
  color: #1f3d7a;
}
.white-color {
  color: white;
}
.mskcc-dark-green {
  color: #4c8b2b;
}
