.hover:hover{
  cursor: pointer;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.table {
  display: table;
  height: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/* Horizontally/Vertically align content */
.flexbox-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-align-center {
  text-align: center;
}
.text-align-left{
  text-align: left;
}
.bold {
  font-weight: bold;
}
.font-p8em {
  font-size: 0.8em;
}
.font-1p5em{
  font-size: 1.5em;
}
.font-2em {
  font-size: 2em;
}
.fill-width {
  width: 100%;
}
.width-100 {
  width: 100px;
}
.fill-height {
  height: 100%;
}
.pos-rel {
  position: relative;
}
.position-bottom {
  position: absolute;
  bottom: 0px;
}
.margin-auto {
  margin: auto;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.vert-align {
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
}
.hv-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.padding-hor-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-vert-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-vert-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-vert-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.padding-12 {
  padding: 12px;
}
.no-margin-bottom {
  margin-bottom: 0px;
}
.margin-vert-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-vert-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-hor-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-left-20 {
  margin-left: 20px;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.help-img {
  width: 80%;
  margin: auto;
  display: block;
}

.request-complete {
  font-size: 38px;
  margin-left: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.greeting-container {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}
/* FEEDBACK FORM */
.feedback-container {
  height: 175px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.feedback-form {
  position: absolute;
  right: 0px;
  width: 350px;
  background-color: white;
  border: 1px solid black;
  z-index: 1;
}
.feedback-form p, .feedback-form h5 {
  color: black;
}
.feedback-text {
  height: 150px;
  width: 95%;
}
.feedback-inputs {
  width: 85%;
  margin: auto;
  display: block;
}
.feedback-submit-btn {
  width: 50%;
  margin: auto;
  display: block;;
}
.help-unit {
  margin-bottom: 15px;
  margin-top: 15px;
}
.text-input-single-line-container {
  height: 35px;
}
.black-border {
  border: 1px solid #a8b3bd;
}
.white-border {
  border: 1px solid white;
}
.dark-gray-bottom-border {
  border-bottom: 1px solid #9e9e98;
}
.no-border-top {
  border-top: none !important;
}
.status-change-close{
  position: absolute;
  right: 10px;
  top: 10px;
}

.search-container {
  height: 70px;
}
.search-icon-container {
  width: 55px;
  border-right: 1px solid white;
  display: inline-block;
}
.search-icon-container .search-icon {
  background-color: #9e9e98;
  color: white;
  width: 30px;
  height: 30px;
  margin: 10px;
}
.search-box {
  width: 300px;
  display: inline-block;
  border: 1px solid white;
  vertical-align: top;
}
.advanced-search {
  vertical-align: bottom;
  color: white;
  margin-bottom: 0px;
}
.display-inline{
  display: inline;
}
.filters-toggle-container {
  margin-left: 10px;
}
.filters-icon {
  background-color: #9e9e98;
  color: white;
  width: 30px !important;
  height: 25px;
  margin: auto;
  display: block;
}

.help-table {
  max-width: 600px;
  margin: auto;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.timeline-button-container {
  width: 135px;
  margin-left: auto;
  margin-right: auto;
}

.step {
  width: 300px;
  height: 175px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: top;
}
.sample-count-layers-text-override {
  font-size: 12px;
  top: 80% !important;
}
.project-summary-text {
    font-size: 14px;
    font-weight: bold;
}
.numerator {
    top: 30% !important;
}
.denominator {
    border-top: 1px solid white;
    top: 70% !important;
}
.sample-info {
  position: absolute;
  left: 0px;
  top: 0px;
  padding-top: 20px;
  padding-left: 20px;
}
.completed-step {
  background-color: #f2f2f2;
}
.request-selector-icon{
  font-size: 3.5em;
  display: inline-block;
  margin-right: 20px;
}
.stage-tracker-icon{
  width: 25px;
  display: block;
  margin: 5px auto 5px;
}
.tiny-icon {
  font-size: 1.5em;
  display: block;
  margin: auto;
}
.small-icon {
  font-size: 2.5em;
  display: block;
  margin: auto;
}
.large-icon{
  font-size: 3.5em;
  display: block;
  margin: auto;
}
.sample-tree-container {
  margin-top: 20px;
  border: 1px solid #dee2e6;
}
.parent-sample-level-stages{
  min-height: 150px;
}
.sample-viewer-toggle {
  vertical-align: bottom;
  font-size: 22px;
}
.fade-color {
  opacity: 0.5;
}
.request-pending-stage-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MSKCC Colors */
.background-mskcc-blue {
  background-color: #007cba;
}
.mskcc-blue {
  color: #007cba;
}
.background-sample-sub-blue {
  background-color: #319ae8;
}
.sample-sub-blue {
  background-color: #319ae8;
}
.background-mskcc-orange{
  background-color: #df4602;
}
.mskcc-orange{
  color: #df4602;
}
.background-igo-orange {
  background-color: #e26d37;
}
.igo-orange {
  color: #e26d37;
}
.background-mskcc-dark-blue{
  background-color: #006098;
}
.mskcc-dark-blue{
  color: #006098;
}
.background-mskcc-medium-blue{
  background-color: #40b4e5;
}
.mskcc-medium-blue{
  color: #40b4e5;
}
.selected-request {
  background-color: #f2f2f2;
  border-bottom: 1px solid #dee2e6;
}
.background-mskcc-light-blue {
  background-color: #8fc7e8;
}
.mskcc-light-blue{
  color: #8fc7e8;
}
.background-mskcc-dark-orange{
  background-color: #c24d00;
}
.mskcc-dark-orange{
  color: #c24d00;
}
.background-mskcc-medium-orange{
  background-color: #f29934;
}
.mskcc-medium-orange{
  color: #f29934;
}
.background-mskcc-light-orange{
  background-color: #f6c65b;
}
.mskcc-light-orange{
  color: #f6c65b;
}
.background-mskcc-dark-violet{
  background-color: #83276b;
}
.mskcc-dark-violet{
  color: #83276b;
}
.background-mskcc-light-violet{
  background-color: #b687b8;
}
.mskcc-light-violet{
  color: #b687b8;
}
.background-mskcc-dark-magenta{
  background-color: #e92076;
}
.mskcc-dark-magenta{
  color: #e92076;
}
.background-mskcc-light-magenta{
  background-color: #efb3cb;
}
.mskcc-light-magenta{
  color: #efb3cb;
}
.background-mskcc-red{
  background-color: #b1132d;
}
.mskcc-red {
  color: #b1132d;
}

/* This is not mskcc, but the other red is too dark */
.light-red {
  color: #f5a3b0;
}
.fail-red {
  color: #C03B5A;
}
.success-green {
  color: #49A078;
}
.update-blue {
  color: #319ae8;
}
.background-mskcc-dark-green{
  background-color: #4c8b2b;
}
.mskcc-dark-green {
  color: #4c8b2b;
}
.background-mskcc-light-green{
  background-color: #a6ce39;
}
.mskcc-light-green{
  color: #a6ce39;
}
.background-mskcc-dark-turquoise{
  background-color: #006c68;
}
.mskcc-dark-turquoise{
  color: #006c68;
}
.background-mskcc-light-turquoise{
  background-color: #009490;
}
.mskcc-light-turquoise{
  color: #009490;
}
.background-mskcc-dark-yellow{
  background-color: #ffc20e;
}
.mskcc-dark-yellow{
  color: #ffc20e;
}
.background-mskcc-light-yellow{
  background-color: #ffe100;
}
.mskcc-light-yellow{
  color: #ffe100;
}
.background-mskcc-dark-gray{
  background-color: #9e9e98;
}
.mskcc-dark-gray{
  color: #9e9e98;
}
.background-mskcc-light-gray{
  background-color: #d5d4c7;
}
.mskcc-light-gray{
  color: #d5d4c7;
}
/* Not mskcc, but more pleasant */
.backgorund-light-gray {
  background-color: #e6e6e6;
}
.background-mskcc-white {
  background-color: white;
}
.mskcc-white {
  color: white;
}
.background-mskcc-black {
  background-color: black;
}
.mskcc-black {
  color: black;
}
